@viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

body{
    /* background: #1F1C2C;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #928DAB, #1F1C2C);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #928DAB, #1f1c2cd2); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    font-family: 'Montserrat', sans-serif;

}

.d-flex button{
    margin: 1.5em 0.6em;
    padding: 0.5em 2.4em;
}

.d-flex table   {
    margin: 1em 10em;
}

.btnedit{
    color:#FFC107;
    cursor: pointer;
}

.btn-danger {
    background-color: red;
}

.success {
    background-color: rgb(39, 223, 39);
    padding: 1em;
}
.error {
    background-color: red;
    padding: 1em;
    color: white;
}

